---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import SobreMi from "../components/SobreMi.astro";
import Habilidades from "../components/Habilidades.astro";
import Gustos from "../components/Gustos.astro";
import Proyectos from "../components/Proyectos.astro";
import Aside from "../components/Aside.astro";
import Footer from "../components/Footer.astro";
---

<Layout>

    <Header />

    <Navbar />

    <main>

        <SobreMi />

        <Habilidades />

        <Gustos />

        <Proyectos />

    </main>

    <Aside />

    <Footer />

</Layout>