<footer id="contacto">

    <section>

        <h2>Contacto</h2>

        <p>Correo: eserrano@utem.cl</p>

        <p>Teléfono: +56 9 71266553</p>

        <p>GitHub: github.com/estefyserja</p>

    </section>

    <p>
        © 2026 Estefany Scarlette Serrano Jaque
    </p>

</footer>