<section id="gustos">

    <header>
        <h2>Gustos e Intereses</h2>
    </header>

    <ul>
        <li><strong>Hobbies:</strong> Manualidades y actividades creativas.</li>
        <li><strong>Música:</strong> Pop y diversos géneros musicales.</li>
        <li><strong>Películas y Series:</strong> Ciencia ficción y romance.</li>
        <li><strong>Videojuegos:</strong> Juegos de supervivencia y exploración.</li>
    </ul>

</section>