<section id="habilidades">

    <header>
        <h2>Habilidades</h2>
    </header>

    <div class="contenedor-habilidades">

        <article class="card">

            <h3>Habilidades Técnicas</h3>

            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>Java</li>
                <li>C</li>
                <li>PHP</li>
                <li>Python</li>
                <li>SQL</li>
            </ul>

        </article>

        <article class="card">

            <h3>Habilidades Blandas</h3>

            <ul>
                <li>Trabajo en equipo</li>
                <li>Comunicación efectiva</li>
                <li>Atención al detalle</li>
                <li>Creatividad</li>
                <li>Responsabilidad</li>
                <li>Organización</li>
            </ul>

        </article>

    </div>

</section>