<header>

    <section class="perfil">

        <figure>

            <img src="/perfil.jpg" alt="Fotografía de Estefany Serrano">

        </figure>

        <article>

            <h1>Estefany Scarlette Serrano Jaque</h1>

            <p>
                Técnico en Programación de Nivel Medio |
                Estudiante Universitaria
            </p>

            <div class="redes">
                <a href="https://github.com/estefyserja" target="_blank">
                    GitHub
                </a>
            </div>

        </article>

    </section>

</header>