<section id="sobre">

    <header>

        <h2>Sobre mí</h2>

    </header>

    <p>
        Tengo 24 años y soy de Santiago, Chile.
        Soy Técnico en Programación de Nivel Medio y actualmente curso mi último año de universidad.
    </p>

    <p>
        Me considero una persona creativa, detallista, responsable y comprometida con el aprendizaje continuo.
        Disfruto desarrollando soluciones tecnológicas y enfrentando nuevos desafíos relacionados con la programación.
    </p>

    <p>

        <strong>Objetivo Profesional:</strong>

        Desarrollarme en el área de tecnologías de la información, participando en proyectos que permitan aportar valor mediante soluciones innovadoras y eficientes.

    </p>

</section>